
$white: #FFFFFF;                       // $color-white
$white-50: rgba(255, 255, 255, 0.5);   // $color-white con 50% de opacidad
$white-20: rgba(255, 255, 255, 0.2);   // $color-white con 20% de opacidad

$black: #000000;                      // $color-black
$black-50: rgba(34, 34, 34, 0.5);     // $color-black con 50% de opacidad
$black-10: rgba(34, 34, 34, 0.1);     // $color-black con 20% de opacidad

:root{
   
    background-color: $white;
    color: $black;
    
    button{
        filter: invert(0);
    }

    hr{
        border: 2px solid $black-10;
    }

    input{
        color: $black;
    }
    
    .add-task{
        background-color: $black-10;
    }

    .custom-checkbox{
        filter: invert(0);
    }

    .task-item{
        background-color: $black-10;
        color: $black; 
    }


}

@media (prefers-color-scheme: dark) {
    :root {
        
        background-color: $black;
        color: $white;
        
        button{
            filter: invert(1);
        }

        hr{
            border: 2px solid $white-20;
        }

        input{
            color: $white;
        }

        .add-task{
            background-color: $white-20;
        }

        .custom-checkbox{
            filter: invert(1);
        }

        .task-item{
            background-color: $white-20;
            color: $white; 
        }
    }
}
