// Definimos las variables de medidas múltiplo de 8px
$grid-size: 0.5rem; // 8px div 16 px = 0.5
$border-size: 0.0625rem;  // borde 1 por defecto
$border-radius: 0.25rem; // 4 pixeles borde radio por defecto

// $color-white: #FFFFFF;           // Blanco
// $color-white-50: rgba(255, 255, 255, 0.5);   // Blanco con 50% de opacidad
// $color-white-20: rgba(255, 255, 255, 0.2);   // Blanco con 20% de opacidad

// $color-black: #000000;           // Blanco
// $color-black-50: rgba(34, 34, 34, 0.5);   // Blanco con 50% de opacidad
// $color-black-10: rgba(34, 34, 34, 0.1);   // Blanco con 20% de opacidad

// Negro	#22222	rgba(34,34,34,1)	100
// Negro50	#222222	rgba(34,34,34,0.5)	50
// Negro10	#222222	rgba(34,34,34,0.1)	10
// Blanco	#FFFFFF	rgba(255,255,255,1)	100
// Blanco50	#FFFFFF	rgba(255,255,255,0.5)	50
// Blanco20	#FFFFFF	rgba(255,255,255,0.2)	20
