@use '../../abstracts/' as *;

.task-item {
  @include center-flexbox;
  flex-direction: row;
  padding: 0.5rem 0.5rem; 
  margin-bottom: 0.5rem; //no especifica
  border-radius: $border-radius;


  input[type="checkbox"] {
    margin-right: 0.5rem; // separado 8px del texto de  la tarea
    
    &:checked + .task-text {
      text-decoration-line: line-through;
    }
  }

  .task-text {
    flex: 1;
    @include text-ellipsis;
    
  }

  .task-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem; 
    margin-left: 0.5rem;
  }
}
