<div class="task-item">
    <input type="checkbox"  class="custom-checkbox" (click)= "emitChangeOnCheckbox()">
    <div class="task-text">
         
        <ng-content></ng-content> <!-- Proyecta el contenido -->
       
    </div>
    <div class="task-buttons">
        <app-option-button [icon]= "copy" ></app-option-button>
        <app-option-button [icon]= "share" ></app-option-button> 
        <app-option-button [icon]= "delete" (buttonEvent)= "emitDeleteTask()"></app-option-button>

    </div>
</div>