@import "../../styles/variables.scss";
@import "../../styles/styles.scss";

.add-task {
  //Los elementos que lo componen se separan 8px desde los bordes y 8px entre ellos.

  .input-with-button {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;

    background-color: $color-black-10;
    box-sizing: border-box;
    border-radius: $border-radius;

    //  Ocupa todo el ancho del componente menos el ancho del botón y un margen de 8px. Su texto debe ser Roboto, 24px.
    input {
      flex: 1;
      text-align: left;
      box-sizing: border-box;
      border:none;
      align-self: stretch; // Ajusta la altura para ocupar todo el espacio vertical disponible
      outline: none;
      font-size: 1.5rem;
      font-family: "Roboto", sans-serif; // TODO cambiar luego
      background-color: transparent;
    }

    .text-button {    //TODO volverlo un componente
      height: 3rem;
      width: 3rem;
      padding: 0.5rem;  
      box-sizing: border-box;
      border: $border-size solid black;
      border-radius: $border-radius;
      background-color: transparent;
      cursor: pointer;
    }
  }
}
