@use '../../abstracts/' as *;


.add-task {
  //Los elementos que lo componen se separan 8px desde los bordes y 8px entre ellos.
  @include center-flexbox;
  gap: 0.5rem;
  padding: 0.5rem;
  box-sizing: border-box;
  border-radius: $border-radius;
  

    //  Ocupa todo el ancho del componente menos el ancho del botón y un margen de 8px. Su texto debe ser Roboto, 24px.
    input {
      flex: 1;
      text-align: left;
      align-self: stretch; // Ajusta la altura para ocupar todo el espacio vertical disponible
      background-color: transparent;
      @include text-ellipsis;
    }
}
