.todo-list {
    font-family: sans-serif;
    padding: 0 30% 0 30%;

    background-color: crimson;

  
  }

  .input-section{

    background-color: blue;
  }

  .list-section{
    background-color: deeppink;
  }