@import '../../styles/variables.scss';

.icon-text-button{
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: auto;
    height: 3rem;
    box-sizing: border-box;
    border: $border-size solid;
    border-radius: $border-radius;
    font-size: 1.5rem;
    background-color: transparent;
    cursor: pointer;
}