body,label,h2,s,input {
    font-family:  'Open Sans', sans-serif;
  }
  
  .todo-list {
    width: 400px;
    margin: 0 auto;
  }
  
  .todo-list-header {
    background-color: #f7f7f7;
    padding: 5px ;
    text-align: center;
  }
  
  .todo-add-item {
    display: flex;
    padding: 10px 0;
  }

  .todo-add-item input {
    flex: 1;
    padding: 10px ;
    margin-right: 2px;
  }

  .todo-add-item button {
    padding: 10px 0px; 
    width: 80px; 
    height: 50px; 
    margin-left: 2px;
  }


  .todo-item {
    border: 1px solid black;
    padding: 10px;
    margin: 10px 0;

  }
  
  .todo-item input[type="checkbox"] {
    vertical-align: auto;
    margin-right:5px;
  }

  .todo-item label {
    text-align: left;
    margin-left:5px;
  }