<div class="todo-list">

  <div class="todo-list-header">
    <h2> Luciana's To-Do list</h2>
  </div>
  <div class="todo-add-item">
    <input type="text" placeholder="Agrega una nueva tarea" >
    <button> Add </button>
  </div>
  <div class="todo-item">
    <input type="checkbox">
    <label>Task N</label>
    <a class="eliminar-icono"><img src="assets/img/papelera.png"></a>
  </div>
  <div class="todo-item">
    <input type="checkbox">
    <label>Task N-1</label>
    <a class="eliminar-icono"><img src="assets/img/papelera.png"></a>
  </div>
  <div class="todo-item">
    <input type="checkbox" checked>
    <label><s>Completed Task N-2</s></label>
    <a class="eliminar-icono"><img src="assets/img/papelera.png"></a>
  </div>
  <div class="todo-item">
    <input type="checkbox">
    <label>Task K</label>
    <a class="eliminar-icono"><img src="assets/img/papelera.png"></a>
  </div>
  <div class="todo-item">
    <input type="checkbox">
    <label>Task 2</label>
    <a class="eliminar-icono"><img src="assets/img/papelera.png"></a>
  </div>
  <div class="todo-item">
    <input type="checkbox" checked>
    <label><s>Completed Task 1</s></label>
    <a class="eliminar-icono"><img src="assets/img/papelera.png"></a>
   
  </div>
</div>