
.app-container{
    margin: 0 auto;
    max-width: 32rem;
    min-width: 16rem;
    height: 100vh;     // ocupa todo el espacio de la pantalla vertical 
    padding: 0 1.5rem;
    //box-sizing: border-box;
   


}