/* app/action-button.component.scss */
.option-btn {
 
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    padding: 8px;
    margin: 2px;
    border: 1px solid black;
    border-radius: 2px;

    background-color: darkviolet;
    cursor: pointer;

    .svg-container {
      width: 16px; /* Ancho deseado */
      height: 16px; /* Alto deseado */

      .icon {
        width: 10px; /* Para ocupar todo el ancho del contenedor */
        height: 10px; /* Para ocupar todo el alto del contenedor */
      }
    }
    
   
    
  }
  
  