/* app/action-button.component.scss */
.option-btn {
 
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    padding: 8px;
    margin: 2px;
    border: 1px solid black;
    border-radius: 2px;

    background-color: darkviolet;
    cursor: pointer;
  }
  
  