/* You can add global styles to this file, and also import other style files */

@import '../src/app/styles/themes.scss';
@import '../src/app/styles/styleUtils.scss';


/* Importa la fuente Roboto desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');


$font-family-sans-serif: 'Roboto', sans-serif;
$font-weight-normal: 400;

:root {

  font-family: $font-family-sans-serif;
  font-weight: $font-weight-normal;

  hr{
    border-radius: $border-radius;
  }

  input[type=text]{
    border: none;
    outline: none;
  }

  input[type=checkbox]{
    appearance: none;
    width: 1.5rem;
    height: 1.5rem;
    border: 2px solid $black;
    box-sizing: border-box;
    cursor: pointer;
    &:checked {
        background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='black' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
      }
  }
}



h1, body {
  font-family: $font-family-sans-serif;
  font-weight: $font-weight-normal;
 
}

body, input, .icon-text-button, .text-button {
  font-size: $font-size-base;
}

h1{
  font-size: $font-size-large;
}


